<div class="viewchanger">
	<div class="view donut">Donut
	</div>
	<div class="view bar">Bar
	</div>
</div>
<h1>TXT ID to POLL-944-049 ( 7655 944 049 )</h1>
<h1>Question:</h1>
<h2><%= poll.escape('question') %></h2>
<h1>Answer Choices:</h1>
<div class="container">
	<div class="pollinfo">
	<% poll._pollResponses.each(function(response) { %>
		<div class="response txt_<%= response.get('id') %>">
			<div class="colorblk blk_<%= response.get('id') %>"><%= response.get('vote_count') %></div>
			
			<span class="lpadsm left"><%= response.escape('answer') %></span>
			<span class="lpadlg right">TXT ID: <%= response.escape('id') %></span>
		</div>
		<br>
	<% }); %>
	</div>
	<div id="chartspace">
		<h2>No Data</h2>
	</div>
</div>
<div class="btncollection">
<h2 class="favs"><i class="icon-ios7-heart"><%= poll.get('favorite_count') %></i></h2>
<% var cuid = TrollPoll.currentUser.id %>
<% if (!!cuid) { %>
	<% if (poll.get('user_id') != cuid) { %>
		<% if (poll._pollFavorites.where({user_id: cuid}).length == 0) { %>
			<div class="btn favorite">Favorite</div>
		<% } else { %>
			<div class="btn unfavorite">Unfavorite</div>
		<% } %>
	<% } else { %>
	<div class="btn delete">Delete</div>
	<div class="btn edit">Edit</div>
	<% } %>
<% } %>
<br>
<div class="btn index">Poll Index</div>
</div>